@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

 .sec-x{
        border-color: #10051a;
        background-size: cover;
        background-position: center center;
       background: url('img/mika.png') no-repeat; 
      
       color: white;


     margin: 0 auto 0 0;
     background-size: 100%;

  /*  filter:blur(5px);
    z-index: 0;*/
    /*-webkit-filter:blur(5px);*/
    }
    .div-content{
            margin: 0 auto;
                width:100%;
                max-width:100%;
                background:black;
                opacity: 0.5;
        font-family: 'Oswald', sans-serif;
                filter:alpha(opacity=50);

    }

#hero-overlay{
    filter:blur(5px);
    z-index: -5;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top:0;
    bottom: 0;
    height:100%;
    width: 100%;



    /*-webkit-filter:blur(5px);*/
}



.playerconteiner {
    background: url('img/musicaimagem1.jpg') !important;
     margin: 0 auto 0 0;
     background-size: 100%;
    z-index: 1;
    filter:blur(5px);
    -webkit-filter:blur(5px);
        text-align: justify;

}

p .playerconteiner{
     text-align: justify !important;

}

.album-art{
height: 20px;
    width: 40%;
}
